#list_view{
    scroll-behavior:smooth;
}


  .cityimg{
      margin:2%;
      background-color: rgb(132,136,139);
      width: 40%;
      float:left;
  }
  .cityimage{
      height:250px;
      width:250px;
  }
 #mapview{
     scroll-behavior: smooth;
     display: none;
 }
 .view{
     font-weight: bold;
     text-decoration: none;
     color: black;
 } 
 h3,p{
     text-decoration: none;
     color:black;
 }



 