


  .cityimg{
      margin:2%;
      background-color: rgb(132,136,139);
      width: 40%;
      float:left;
      display: flex;
     justify-content: start;
     
     align-items: flex-start;
  }
  .cityimage{
      height:250px;
      width:250px;
  }
  #view{
    margin-left: 500px;
    
}
 .view{
     font-weight: bold;
     text-decoration: none;
     color: black;
 } 
 h3,p{
     text-decoration: none;
     color:black;
 }
 .cityimg:hover{
     background-color: rosybrown;
 }
 



 